.alert {
  text-align: center;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: #ddd;
}

.state {
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
}

.online {
  color: green !important;
}

.offline {
  color: rgba(255, 72, 0, 0.89) !important;
}
